<% provide(:title, "Home")%>
<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <style>
        div.container.text-left{
            padding-left: 30% !important;
            padding-right: 30% !important
        }
        

    </style>

    </head>

    <body id="page-top">
        <header class="masthead text-center">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-7 my-auto">
                        <div class="header-content mx-auto">
                            <h1 class="mb-5">Create a VM!</h1>
                        </div>
                    </div>
                    <div class="col-lg-5 my-auto">
                        <%= simple_form_for @vm do |f| %>
                            <%= render 'shared/error_messages', object: f.object %>
                                <%= f.label :vm_name, "Name" %>
                                <%= f.text_field :vm_name, class: 'form-control' %>

                                <%= f.label :vm_tyoe, "VM Type" %>
                                <%= f.input_field :vm_type, :collection => %w[Ubuntu(GUI) Windows Ubuntu(CMD)], class: 'form-control' %>

                            <%= f.button :submit, 'Create VM', class: 'btn btn-success'%>
                        <% end %>
                    </div>
                </div>
          </div>
        </header>
    
    
    </body>

</html>