<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Project Stardust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', debug: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', debug: true %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= flash[type] = msg %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
